* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color:#000;
    margin-left: 500px;

}
h2{
    color:#ffff; 
}
h3{
    color: #000;
    font-family: Arial, sans-serif;
}

#about-us {
    margin-bottom: 40px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-content p {
    width: 60%;
    padding-right: 20px;
}

.about-content img {
    width: 30%;
    height: auto;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 20;
}

.column1 {
    width: 20%;
   border-right:solid 10px;
 padding-bottom: 20px;
}
.column2 {
    width: 20%;
gap:20px;
border-right:solid 10px;
 padding-bottom: 20px;
}
.column3 {
    width: 20%;
gap:20px;
border-right:solid 10px;
 padding-bottom: 20px;
}
.column4 {
    width: 20%;
gap:20px;
 padding-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

#faq {
    margin: 40px 0;
}

#contact {
    display: flex;
    justify-content: space-around;
    /* margin: 40px 0; */
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    height: 100px;
}

button {
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e6b800;
}
.message{
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}