body{
    padding: 0px;
    margin: 0px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.first-suction{
    margin: 20px 100px 20px 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}
.img-size{
    width: 152px;
    height: 240px;
}
.boucher-img{
    border: 1px solid #00000024;
}
.etoil{
    width: 100px;
    margin-left: 18%;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* .etoil2{
    width: 100px;
    margin-left: 18%;
   
} */

h1{
    margin: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h3{
    margin: 0;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 5px;
}
.p-old{
    text-decoration: line-through;
    margin: 0;
    display: inline;
    text-align: left;
    color: red;
}
.p-new{
    font-size: 24px;
    margin: 0;
    text-align: end;
    
}
.d-book{
    background: rgba(128, 128, 128, 0.112);
    width: 152px;
    height: 170px;
}
.img{
    grid-column: span 2;
}
.button-acheter{
    width: 100%;
    height: 30px;
    background-color: #5EB1FF;
    border: none;
}
.name{
    height: 40px;
}
.ACHETER{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}