body{
    display: flex;
    justify-content: center;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

label,input{
    display: block;
    margin-left: 10%;
}
input{
    width: 80%;
    height: 2vw;
    margin-bottom: 20px;
}
label{
    margin-bottom: 10px;
    font-size: 16px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px 100px;
}
.img{
    display: flex;
    align-content: start;
}
.img-car{
    width: 100%;
    height: 300px;
}
.detail-de-paiement{
    width: 400px;
    height: 450px;
    background: #00000047;
    border-radius: 5px;
}
.bar-detail{
    width: 300px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 16px;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
}
h1{
    padding: 5px;
}
.date-l{
    display: block;
}
.date{
    display: inline;
    width: 39%;
}


.cvc{
    margin-left: 0;
}

.button-acheter{
    width:155px;
    height: 30px;
    background-color: black;
    font-size: 16px;
    color: white;
    margin-left: 130px;
    border-radius: 10px;
}
.button-acheter:hover{
    background:#619BFF;
    border: none;
}
.img-book{
    width: 100%;
    height: 70%;
    grid-column: 2/span 5;
    grid-row: 3/span 5;
}
.cards{
    width: 80px;
    height: 20px;
    position: absolute;
    right: 38%;
}



.book{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,1fr);
}


