body{
    display: flex;
    justify-content: center;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

label,input{
    display: block;
    margin-left: 30px;
}
input{
    width: 80%;
    height: 2vw;
    margin-bottom: 20px;
}
label{
    margin-bottom: 10px;
    font-size: 16px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top:10%;
}
.img{
    display: flex;
    align-content: start;
}
.img-car{
    width: 100%;
    height: 80%;
}
.detail-de-paiement{
    width: 110%;
    height: 105%;
    background: #00000047;
    border-radius: 5px;
}
.bar-detail{
    width: 300px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 16px;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
}
h1{
    padding: 5px;
}
.date-l{
    display: block;
}
.date{
    display: inline;
    width: 39%;
}


.cvc{
    margin-left: 0;
}

.button-acheter{
    width:40%;
    height: 30px;
    background-color: black;
    font-size: 16px;
    color: white;
    margin-left: 30%;
    border-radius: 10px;
}
.button-acheter:hover{
    background:#619BFF;
    border: none;
}
.book{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,1fr);
}
.img-book{
    width: 100%;
    height: 70%;
    grid-column: 2/span 5;
    grid-row: 3/span 5;
}
.cards{
    width: 5%;
    height: 20px;
    position: absolute;
    right: 36%;
}




@media (max-width: 800px){
    

    .detail-de-paiement{
        width:100%;
        height: 100%;
        background: #00000047;
        border-radius: 5px;
    }
    
    label,input{
        display: block;
        margin-left: 20px;
        font-size: 12px;
    }
    input{
        width: 80%;
        height: 3vw;
        margin-bottom: 15px;
    }
    label{
        margin-bottom: 5px;
        font-size: 16px;
    }
    .img-car{
        width: 100%;
        height: 100%;
    }
    .bar-detail{
        width: 100%;
        height: 40px;
        background-color: black;
        color: white;
        font-size:12px;
        text-align: center;
        margin-left:0;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .img-book{
        width: 60%;
        height: 50%;
        grid-column: 2/span 5;
        grid-row: 3/span 5;
    }
    .grid{
        margin-top: 30%;
    }
    .button-acheter{
        width:65%;
        height: 30px;
        background-color: black;
        font-size: 12px;
        font-weight: 600;
        color: white;
        margin-left: 18%;
        border-radius: 10px;
    }
    .date{
        display: inline;
        width: 36%;
    }
    .cards{
        width: 9%;
        height: 20px;
        position: absolute;
        right: 36%;
    }

}

@media (max-width: 550px){
    

    .detail-de-paiement{
        width:100%;
        height: 100%;
        background: #00000047;
        border-radius: 5px;
    }
    
    label,input{
        display: block;
        margin-left: 20px;
        font-size: 10px;
    }
    input{
        width: 70%;
        height: 2vw;
        margin-bottom: 15px;
    }
    label{
        margin-bottom: 5px;
        font-size: 10px;
    }
    .img-car{
        width: 100%;
        height: 100%;
    }
    .bar-detail{
        width: 100%;
        height: 20px;
        background-color: black;
        color: white;
        font-size:8px;
        text-align: center;
        margin-left:0;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .img-book{
        width: 80%;
        height: 70%;
        grid-column: 2/span 5;
        grid-row: 3/span 5;
    }
    .grid{
        margin-top: 50%;
    }
    .button-acheter{
        width:80%;
        height: 20px;
        background-color: black;
        font-size: 8px;
        font-weight: 600;
        color: white;
        margin-left: 10%;
        border-radius: 10px;
    }
    .date{
        display: inline;
        width: 30%;
    }
    .cards{
        width: 7%;
        height: 15px;
        position: absolute;
        right: 38%;
    }

}

